body {
  background-color: powderblue;
}

h1 {
color: #ff8800;
font-family: Comic Sans MS;
text-align: center;
font-size: 60px;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 120%;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.activeNAV{
  background-color: #ff8800;
}

#film{
  text-align: center;
}

.column {
  float: left;
  width: 31.3%;
  padding: 10px;
  margin-top: 20px;
  height: 84vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  text-align: left;
  width: 100vw;
}

hr{
  height: 0.1rem;
  background-color: black;
}

#taborbillede{
  float: left;
}

#tabor {
  height: 63.6vh;
  width: 48vw;
}

#tabormaps{
  float: right;
}

#maps{
  height:63.6vh;
  width:48vw;
}
